---
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Classical Chronicle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://{{ site.domain }}">
    <meta property="og:title" content="The Classical Chronicle">
    <meta property="og:image" content="https://{{site.domain}}/assets/icons/rounded128.png">
    <meta property="og:type" content="website">
    {% include font-preload.html %}
    <link rel="stylesheet" href="index.css">
    <script src="/assets/js/analytics.js" defer></script>
    <meta name="description" content="The Classical Chronicle is an independent, uncensored, and student-run newspaper at Classical High School that strives to deliver high-quality and honest journalism.">
  </head>
  <body>
    {% include header.html page="home" %}
    <div class="container">
      <main>
        {% assign latestarticle = site.articles | where_exp: "article","article.unlisted != true" | last %}
        {% assign accent = site.data.category-colors[latestarticle.category] %}
        <article class="big">
          <div class="tab" style="background: {{accent}}">
            Latest Article
          </div>
          <a class="intro" style="background: {{accent}}" href="{{latestarticle.url}}">
            <img src="/assets/images/{{latestarticle.image}}" alt="">
            <div class="about">
              <p class="series">{{latestarticle.series}}</p>
              {% assign titlelen = latestarticle.title | size %}
              <p href="/article/{{latestarticle.slug}}" class="title{% if titlelen > 50 %} long{% endif %}">{{latestarticle.title}}</p>
              <div class="separator">{% for i in (1..6) %}{% include dots.svg %}{% endfor %}</div>
              <p class="category">{{latestarticle.category}}</p>
              <p class="author">{{latestarticle.author  
                                    | join: ", " }}</p>
              <p class="date">{{latestarticle.date | date: "%B %-d, %Y"}}</p>
            </div>
          </a>
          <p class="preview">{{ latestarticle.content | strip_html | truncatewords: 150 }}</p>
          <a href="/article/{{latestarticle.slug}}" class="read-more" style="color:{{accent}}; --accent-color: {{accent}}">Read More ></a>
        </article>
        {% assign categories = site.articles | pop | reverse | map: "category" | uniq %}
        {% for category in categories %}
        {% assign accent = site.data.category-colors[category] %}
        <div class="category-divider">
          <h1 style="color:{{accent}}">{{ category }}</h1>
          <hr style="border-color:{{accent}};background:{{accent}}">
          <a style="color:{{accent}}; --accent-color: {{accent}}" href="/categories#{{category | downcase }}">See More ></a>
        </div>
        {% assign count = 0 %}
        {% assign articles = site.articles | pop | where: "category", category | reverse %}
          <div class="article-group">
          {% for article in articles %}
            {% if article.title == latestarticle.title %}{% continue %}{% endif %}
            {% if article.unlisted %}{% continue %}{% endif %}
            {% if count >= 4 %}{% continue %}{% endif %}
            {% include article-card.html article=article %}
            {% assign count = count | plus: 1 %}
          {% endfor %}
          </div>
        {% endfor %}

      </main>
    </div>

  </body>
</html>
